.footer {
    background: black;
    color: white;
    flex: 1;
    padding: 25px 10% 25px 10%;
    text-align: center;
    width: 100%;
}

.profile-image {
    width: 100%;
    margin: 0 auto;
    max-width: 1080px;
}

.profile-image-container {
    background: black;
    text-align: center;
}

.banner {
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 200px;
    min-width: 100%;
}

.banner-title {
    background: rgba(0,0,0,0.5);;
    color: white;
    margin: auto;
    padding: 10px;
}